<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>Publieventos - @ViewBag.Title</title>

    <meta http-equiv="X-Frame-Options" content="SAMEORIGIN" />
    @System.Web.Optimization.Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @System.Web.Optimization.Styles.Render("/Content/bootstrap/css/bootstrap.min.css")
    @System.Web.Optimization.Styles.Render("/Content/fonts/css/font-awesome.css")

    @System.Web.Optimization.Scripts.Render("~/bundles/modernizr")
    @System.Web.Optimization.Scripts.Render("/ViewScripts/Shared/Shared.js")
    @System.Web.Optimization.Scripts.Render("/Scripts/jquery.blockUI.js")
    @System.Web.Optimization.Scripts.Render("/Scripts/knockout-2.1.0.debug.js")
    @System.Web.Optimization.Scripts.Render("/Scripts/bootstrap.min.js")

    <link rel="stylesheet" media="all" href="/Content/Publieventos.css" />
    <link rel="icon" href="/Content/themes/images/favicon.ico">
</head>
<body>
    <div class="header">
        <div class="col-md-12">
            <div class="col-md-4">
                <a href="/Home/Index">
                    <img src="/Content/Publieventos/Images/Logo.png" class="logo" />
                </a>
            </div>
            <div class="col-md-8" style="margin-top: 50px">
                @if (ViewBag.isHome != null && (bool)ViewBag.isHome == true)
                {
                    <form class="col-md-7" role="search">
                        <div class="col-md-12">
                            <input type="text" class="form-control search search-events-container" placeholder="ENCONTRA TU EVENTO...." id="SearchTerm">
                        </div>
                    </form>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="col-md-5" style="float: right">
                        <img id="imageCurrentUser" src="/Content/images/Profiles/@((User as PubliEventos.Web.App_Start.CustomPrincipal).ImageProfile)" alt="" class="image-profile img-responsive img-rounded right" data-src="holder.js/50x50">
                        <a href="/Account/Profile/@((User as PubliEventos.Web.App_Start.CustomPrincipal).Id)"><strong data-toggle="tooltip" data-placement="bottom" title="Ver mi Perfil" class="username">Hola @((User as PubliEventos.Web.App_Start.CustomPrincipal).FirstName)!</strong></a>
                        <p class="current-date">@((User as PubliEventos.Web.App_Start.CustomPrincipal).DateTimeNow)</p>
                    </div>
                }
                else
                {
                    if (ViewBag.isHome != null && (bool)ViewBag.isHome == true)
                    {
                    <div class="col-md-5" style="margin-top: 10px">
                        <a class="label-login" href="../Account/Login?isRegister=true">REGISTRARME</a>
                        <span class="label-login">|</span>
                        <a class="label-login" href="../Account/Login?isRegister=false">INGRESAR</a>
                        <p class="current-date">@ViewBag.currentDate</p>
                    </div>
                    }
                }
            </div>
            <div class="col-md-12" style="text-align: right">
                @if (User.Identity.IsAuthenticated)
                {
                    var controller = ViewContext.RouteData.Values["controller"].ToString();
                    var action = ViewContext.RouteData.Values["action"].ToString();
                                                
                    <a class="@(controller == "Event" && action == "Create" ? "sections-title sections-title-active" : "sections-title")" href="/Event/Create">PUBLICAR EVENTO</a><span class="sections-title bar-title">|</span>
                    <a class="@(controller == "Event" && action == "MyEvents" ? "sections-title sections-title-active" : "sections-title")" href="/Event/MyEvents?currentEvents=true">MIS EVENTOS</a><span class="sections-title bar-title">|</span>
                    <a class="@(controller == "Group" && action == "MyGroups" ? "sections-title sections-title-active" : "sections-title")" href="/Group/MyGroups">MIS GRUPOS</a><span class="sections-title bar-title">|</span>
                    <a class="@(controller == "Event" && action == "AssistsRecord" ? "sections-title sections-title-active" : "sections-title")" href="/Event/AssistsRecord">MIS ASISTENCIAS</a><span class="sections-title bar-title">|</span>
                    <a class="@(controller == "Invitation" && action == "MyInvitations" ? "sections-title sections-title-active" : "sections-title")" href="/Invitation/MyInvitations">INVITACIONES</a>
                    if ((User as PubliEventos.Web.App_Start.CustomPrincipal).IsAdministrator)
                    {
                    <span class="sections-title bar-title">|</span>
                    <a class="@(controller == "Admin" && action == "ReportContents" ? "sections-title sections-title-active" : "sections-title")" href="/Admin/ReportContents">ADMINISTRAR REPORTES</a>
                    }
                        
                    <span class="sections-title bar-title">|</span>
                    <a class="sections-title" href="/Account/LogOut">SALIR&nbsp<i class="log-out icon-off"></i></a>
                }
            </div>
        </div>
    </div>
    <div class="col-md-12 body">
        @RenderBody()
    </div>
    <div class="footer col-md-12">
        <div class="col-md-3">
            <img src="/Content/Publieventos/Images/Logo.png" class="logo" />
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="col-md-9" style="text-align: right; margin-top: 40px;">
                <a class="sections-title-footer" href="/Event/Create">PUBLICAR EVENTO</a><span class="sections-title-footer bar-title">|</span>
                <a class="sections-title-footer" href="/Event/MyEvents?currentEvents=true">MIS EVENTOS</a><span class="sections-title-footer bar-title">|</span>
                <a class="sections-title-footer" href="/Group/MyGroups">MIS GRUPOS</a><span class="sections-title-footer bar-title">|</span>
                <a class="sections-title-footer" href="/Event/AssistsRecord">MIS ASISTENCIAS</a><span class="sections-title-footer bar-title">|</span>
                <a class="sections-title-footer" href="/Invitation/MyInvitations">INVITACIONES</a>
                @if ((User as PubliEventos.Web.App_Start.CustomPrincipal).IsAdministrator)
                {
                    <span class="sections-title-footer bar-title">|</span>
                    <a class="sections-title-footer" href="/Admin/ReportContents">ADMINISTRAR REPORTES</a>
                }
            </div>
        }
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
