<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publieventos - @ViewBag.Title</title>
    @Styles.Render("/Content/Site.css")
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Styles.Render("/Content/bootstrap/css/bootstrap-responsive.css")
    @Styles.Render("/Content/bootstrap/css/bootstrap.min.css")
    @Styles.Render("/Content/bootstrap/css/bootstrap-glyphicons.css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="shortcut icon" href="http://static.tmimgcdn.com/img/favicon.ico">
    <link rel="icon" href="http://static.tmimgcdn.com/img/favicon.ico">
</head>
<body>
    <div class="container-index">
        <div class="affix" style="display: inline; z-index: 1;">
            <a class="title" href="/Home/Index">publieventos</a>
            <br />
            @if (User.Identity.IsAuthenticated)
            {
                <div class="row-fluid">
                    <a class="sections-title" href="/Event/Create">Crear Evento</a><span class="sections-title">-</span>
                    <a class="sections-title" href="/Event/MyEvents">Mis Eventos</a><span class="sections-title">-</span>
                    <a class="sections-title" href="#">Mis Grupos</a><span class="sections-title">-</span>
                    <a class="sections-title" href="#">Invitaciones</a>
                </div>
            }
            else
            {
                <a class="sections-title" href="../Account/Login">Ingresar</a>
            }
        </div>
        <div class="col-xs-6" style="float: right">
            <div class="container.fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a title="Salir" href="/Account/LogOut">
                            <img class="log-out" src="/Content/themes/images/door-open-icon.png" alt="log out" data-src="holder.js/50x50" /></a>
                        <img src="@((User as PubliEventos.Web.App_Start.CustomPrincipal).ImageProfile)" alt="" class="image-profile img-circle right" data-src="holder.js/50x50">
                        <a title="Editar Perfil" href="#"><span class="username">@User.Identity.Name</span></a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid col-xs-12 container-total-index">
        <div class="row-fluid">
            @RenderBody()
        </div>
    </div>
    <script src="/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
