@model PubliEventos.Contract.Class.Comment

@{
    var imageProfile = !string.IsNullOrEmpty(Model.User.ImageProfile) ? System.Configuration.ConfigurationManager.AppSettings["PathProfiles"] + Model.User.ImageProfile : "/Content/themes/images/contact-default-image.jpg";
}

<div class="row-fluid" style="margin-bottom: 20px">
    <div class="col-md-12">
        <div class="col-md-1" style="margin-right: 30px">
            <img src="@imageProfile" title="@Model.User.UserName" alt="Perfil del usuario" class="profile-comment img-circle right" data-src="holder.js/60x60">
        </div>
        <div class="col-md-10 bubble-comment">
            <div class="comment-detail">
                <p class="font-comment">@Model.Detail</p>
                <input type="hidden" value="@Model.Id"/>

            </div>
            <div>
                <small style="float: left; font-size: 10px;">@Model.ElapsedTime</small>
            </div>
            <div class="actions-comment">
                <a title="Reportar" href="#"><i class="icon-default icon-ban-circle"></i></a>
                @if (Model.User.Id == (User as PubliEventos.Web.App_Start.CustomPrincipal).Id)
                {
                    <a title="Editar" href="#"><i class="edit-comment icon-default icon-pencil"></i></a>
                    <a style="padding-left: 7px" class="deleteComment" title="Eliminar" rel="@Model.Id" href="#"><i class="icon-default icon-remove"></i></a>
                }
            </div>
        </div>
    </div>
</div>
