@Styles.Render("~/Content/bootstrap/css/bootstrap-datetimepicker.min.css")
@Scripts.Render("/Scripts/moment.js")
@Scripts.Render("/Scripts/moment-with-locales.js")
@Scripts.Render("/Scripts/bootstrap-datetimepicker.js")

<div class="col-md-12 search-row" id="search-form" style="display: none">
    <div class="form-group search-form">
        <div class="row form-group margin-top-normal">
            <div class="col-md-6">
                <label class="label-description">TIPO DE EVENTO</label>
                @Html.DropDownList("EventTypeId", (SelectList)ViewBag.EventTypes, "[Seleccione Tipo Evento]", new { @class = "form-control font-text" })
            </div>
            <div class="col-md-6">
                @Html.Label("PRIVACIDAD", new { @class = "label-description" })
                <div class="well-region" style="width: 50%">
                    @Html.Label("Público", new { @class = "label-description", style = "padding-right: 10px" })
                    <input type="radio" id="Public" name="Private" value="true" style="margin-right: 15px" />
                    @Html.Label("Privado", new { @class = "label-description", style = "padding-right: 10px" })
                    <input type="radio" id="Private" name="Private" value="false" />
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6">
                @Html.Label("FECHA DESDE", new { @class = "label-description" })
                <div class="input-group">
                    @Html.TextBox("StartDate", null, new { @class = "date form-control" })
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <div class="col-md-6">
                @Html.Label("FECHA HASTA", new { @class = "label-description" })
                <div class="input-group date">
                    @Html.TextBox("EndDate", null, new { @class = "date form-control" })
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input id="reset" style="margin-top: 15px" value="Resetear" type="button" class="btn-cancel" />
                <input id="search" style="margin-top: 15px" value="Buscar" type="button" class="btn-confirm pull-right" />
            </div>
        </div>
    </div>
</div>
