@model PubliEventos.Contract.Services.Event.EventCreateOrUpdateRequest

@System.Web.Optimization.Scripts.Render("~/ViewScripts/Event/Partial/_Form.js")

<div class="row margin-bottom-normal">
    <div class="col-md-12 margin-bottom-normal">
        <div class="col-md-6">
            @Html.Label("TÍTULO", new { @class = "label-description" })
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Title)
        </div>
    </div>
</div>
<div class="row margin-bottom-normal">
    <div class="col-md-12 margin-bottom-normal">
        <div class="col-md-12">
            @Html.Label("DESCRIPCIÓN", new { @class = "label-description" })
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "2" })
            @Html.ValidationMessageFor(m => m.Description)
        </div>
    </div>
</div>
<div class="row margin-bottom-normal">
    <div class="col-md-12 margin-bottom-normal">
        <div class="col-md-12">
            @Html.Label("DETALLE", new { @class = "label-description" })
            @Html.TextAreaFor(m => m.Detail, new { @class = "form-control", rows = "4" })
        </div>
    </div>
</div>
<div class="row margin-bottom-normal">
    <div class="col-md-12">
        <div class="col-md-2 margin-bottom-normal">
            @Html.Label("PRIVACIDAD", new { @class = "label-description" })
            <div class="well-region">
                <div>
                    <input type="radio" id="Public" name="Private" value="false" style="margin-right: 15px" checked="checked" />
                    <label for="Public" class="label-description" style="padding-right: 10px"><span></span>Público</label>
                </div>
                <div>
                    <input type="radio" id="Private" name="Private" value="true" />
                    <label for="Private" class="label-description" style="padding-right: 10px"><span></span>Privado</label>
                </div>
            </div>
        </div>
        <div class="col-md-4 margin-bottom-normal">
            @Html.Label("FECHA DE REALIZACIÓN", new { @class = "label-description" })
            <div class="input-group">
                @Html.TextBoxFor(m => m.EventDate, new { @class = "date form-control" })
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            @Html.ValidationMessageFor(m => m.EventDate)
        </div>
        <div class="col-md-3 margin-bottom-normal">
            @Html.Label("HORA DE INICIO", new { @class = "label-description" })
            <div class="input-group">
                @Html.TextBoxFor(m => m.EventStartTime, new { @class = "time form-control" })
                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
            </div>
            @Html.ValidationMessageFor(m => m.EventStartTime)
        </div>
        <div class="col-md-3 margin-bottom-normal">
            @Html.Label("HORA DE FIN", new { @class = "label-description" })
            <div class="input-group">
                @Html.TextBoxFor(m => m.EventEndTime, new { @class = "time form-control" })
                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
            </div>
            @Html.ValidationMessageFor(m => m.EventEndTime)
        </div>
    </div>
</div>

<div class="modal fade" id="EditPhotoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title-modal">NUEVA FOTO DE PORTADA</h4>
            </div>
            <div class="modal-body">
                <div class="imageBox imageBox-large">
                    <div class="thumbBox thumbBox-large"></div>
                    <div class="spinner" style="display: none">Loading...</div>
                </div>
                <div class="" style="margin-top: 10px">
                    <i class="icon-plus button-zoom" id="btnZoomIn" style="float: right"></i>
                    <i class="icon-minus button-zoom" id="btnZoomOut" style="float: right; margin-right: 10px;"></i>
                </div>
                <div class="">
                    <div class="action browse-wrap">
                        <div class="title-file">Ningún archivo seleccionado</div>
                        <input type="file" id="file" class="upload">
                        <small>Extensiones permitidas (jpg, jpeg, gif y png)</small>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-cancel pull-left" data-dismiss="modal">Cancelar</button>
                <button type="button" id="btnCrop" class="btn-confirm pull-right" data-dismiss="modal">Seleccionar</button>
            </div>
        </div>
    </div>
</div>
