@model PubliEventos.Contract.Services.Event.EventCreateOrUpdateRequest

<div class="row-fluid margin-bottom-normal">
    <div class="col-md-12 margin-bottom-normal">
        <div class="col-md-12">
            @Html.Label("TÍTULO", new { @class = "label-description" })
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Title)
        </div>
    </div>
</div>
<div class="row-fluid margin-bottom-normal">
    <div class="col-md-12 margin-bottom-normal">
        <div class="col-md-12">
            @Html.Label("DESCRIPCIÓN", new { @class = "label-description" })
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "2" })
            @Html.ValidationMessageFor(m => m.Description)
        </div>
    </div>
</div>
<div class="row-fluid margin-bottom-normal">
    <div class="col-md-12 margin-bottom-normal">
        <div class="col-md-12">
            @Html.Label("DETALLE", new { @class = "label-description" })
            @Html.TextAreaFor(m => m.Detail, new { @class = "form-control", rows = "4" })
        </div>
    </div>
</div>
<div class="row-fluid margin-bottom-normal">
    <div class="col-md-12">
        <div class="col-md-2 margin-bottom-normal">
            @Html.Label("PRIVACIDAD", new { @class = "label-description" })
            <div class="well-region">
                <div>
                    <small class="label-description" style="padding-right: 10px">Público</small>
                    <input type="radio" id="Public" name="Private" value="false" style="margin-right: 15px" checked="checked" />
                </div>
                <div>
                    <small class="label-description" style="padding-right: 10px">Privado</small>
                    <input type="radio" id="Private" name="Private" value="true" />
                </div>
            </div>
        </div>
        <div class="col-md-4 margin-bottom-normal">
            @Html.Label("FECHA DE REALIZACIÓN", new { @class = "label-description" })
            <div class="input-group">
                @Html.TextBoxFor(m => m.EventDate, new { @class = "date form-control" })
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            @Html.ValidationMessageFor(m => m.EventDate)
        </div>
        <div class="col-md-3 margin-bottom-normal">
            @Html.Label("HORA DE INICIO", new { @class = "label-description" })
            <div class="input-group">
                @Html.TextBoxFor(m => m.EventStartTime, new { @class = "time form-control" })
                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
            </div>
            @Html.ValidationMessageFor(m => m.EventStartTime)
        </div>
        <div class="col-md-3 margin-bottom-normal">
            @Html.Label("HORA DE FIN", new { @class = "label-description" })
            <div class="input-group">
                @Html.TextBoxFor(m => m.EventEndTime, new { @class = "time form-control" })
                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
            </div>
            @Html.ValidationMessageFor(m => m.EventEndTime)
        </div>
    </div>
</div>
