@model PubliEventos.Contract.Class.Event

@{
    var imageProfile = !string.IsNullOrEmpty(Model.User.ImageProfile) ? System.Configuration.ConfigurationManager.AppSettings["PathProfiles"] + Model.User.ImageProfile : "/Content/themes/images/contact-default-image.jpg";
}

<div class="col-md-12" style="margin-bottom: 1%;">
    <div class="col-md-12 mosaic">
        <div class="row-fluid subtitle">
            <div class="span12">
                <div class="span4">
                    <div class="tl-circ" style="padding-top: 10px; padding-bottom: 10px;">
                        <img src="/Content/images/Covers/@Model.FileName" style="width: 100%; height: 100%;" alt="" class="img-responsive" data-src="holder.js/1000x500">
                    </div>
                </div>
                <div class="span8">
                    <h4 class="font-text" style="color: #c25b4e">@Model.Title</h4>
                    <p>
                        <p class="font-text" style="display: inline; font-size: 15px">Fecha:</p>
                        <strong class="font-text" style="display: inline; font-size: 15px;">@Model.EventDate.ToShortDateString()</strong>
                    </p>
                    <p>
                        <p class="font-text" style="display: inline; font-size: 15px;">Hora:</p>
                        <strong class="font-text" style="display: inline; font-size: 15px;">@Model.EventStartTime.ToString(@"hh\:mm") a @Model.EventEndTime.ToString(@"hh\:mm") Hs</strong>
                    </p>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="span12">
                                <p class="font-text" style="font-size: 15px">@Model.Description</p>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid" style="margin-bottom: 10px">
                        <div class="span12">
                            <strong style="color: black">Administrador</strong>
                        </div>
                        <div class="col-md-4">
                            <a href="/Account/Profile/@Model.User.Id" style="display: inline; margin-right: 15px;">
                                <img src="@imageProfile" title="@Model.User.UserName" style="cursor: pointer" alt="Perfil del usuario" class="participants-image-profile img-circle right" data-src="holder.js/40x40">
                            </a>
                            <p style="display: inline" class="participants-user">@Model.User.UserName</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="span12">
                    <p class="font-text" style="white-space: pre-line; font-size: 15px; margin-top: 5px;">@Model.Detail</p>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-md-12">
                <div style="margin-bottom: 30px">
                    @if (ViewData["IsInvitation"] == null || (bool)ViewData["IsInvitation"] == false)
                    {
                        <a href="#" id="comment" title="Comentar"><span style="font-size: 20px" class="icon-default icon-comments"></span></a>
                        if ((User as PubliEventos.Web.App_Start.CustomPrincipal).Id == @Model.User.Id)
                        {
                        <a style="padding-right: 10px" href="/Invitation/InviteToEvent/@Model.Id" title="Invitar"><span style="font-size: 20px" class="icon-default icon-user"></span></a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
