@model PubliEventos.Contract.Class.Event

@using PubliEventos.Web.Helpers

@{
    var coverImage = !string.IsNullOrEmpty(Model.FileName) ? System.Configuration.ConfigurationManager.AppSettings["PathCovers"] + Model.FileName : "/Content/images/Profiles/contact-default-image.png";
    var urlEvent = string.Format("{0}://{1}/Event/Detail/{2}", System.Web.HttpContext.Current.Request.Url.Scheme, System.Web.HttpContext.Current.Request.Url.Authority, Model.Id);
    var urlImage = string.Format("{0}://{1}{2}", System.Web.HttpContext.Current.Request.Url.Scheme, System.Web.HttpContext.Current.Request.Url.Authority, coverImage);
}

<div class="col-md-12" style="margin-bottom: 1%;">
    <div class="col-md-12 mosaic">
        <div class="row" style="margin-top: 10px">
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="col-md-12">
                        <img data-bind="attr: { 'src': Event().Path }" alt="" class="img-responsive img-rounded image-event-detail" data-src="holder.js/1000x500">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-10">
                            <div>
                                <h4 class="event-title-detail" data-bind="text: Event().Title"></h4>
                            </div>
                            <div class="margin-bottom-normal">
                                <p class="margin-bottom-normal">
                                    <p class="font-text" style="display: inline; font-size: 15px">Fecha:</p>
                                    <strong class="font-text" style="display: inline; font-size: 15px;" data-bind="text: Event().EventDate"></strong>
                                </p>
                                <br />
                                <p>
                                    <p class="font-text" style="display: inline; font-size: 15px;">Hora:</p>
                                    <strong class="font-text" style="display: inline; font-size: 15px;" data-bind="text: Event().Time"></strong>
                                </p>
                            </div>
                        </div>
                        @if (ViewData["HiddenActions"] == null || (bool)ViewData["HiddenActions"] == false)
                        {
                            <div data-bind="visible: !Event().AlreadyTookPlace" class="col-md-2" style="text-align: center">
                                <a href="#" data-bind="click: Event().AttendEvent, html: Event().AttendDescription"></a>
                            </div>
                        }
                    </div>
                    <div class="row margin-bottom-normal margin-top-normal">
                        <div class="col-md-12">
                            <p class="event-description-detail" data-bind="text: Event().Description"></p>
                        </div>
                    </div>
                    <div class="row margin-bottom-normal margin-top-normal">
                        <div class="col-md-12 margin-bottom-normal">
                            <strong style="color: black">CREADO POR</strong>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <a href="#" data-bind="click: Event().AdministratorProfile" style="display: inline; margin-right: 15px;">
                                    <img  data-toggle="tooltip" data-placement="top" data-bind="attr: { 'src': Event().UserImageProfile, 'title': Event().UserName }" style="cursor: pointer" alt="Perfil del usuario" class="participants-image-profile img-circle right" data-src="holder.js/40x40">
                                </a>
                                <p style="display: inline" class="participants-user" data-bind="text: Event().FullName"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 margin-bottom-normal">
            <div class="col-md-12">
                <p class="font-text" style="white-space: pre-line; font-size: 15px; margin-top: 5px;" data-bind="text: Event().Detail"></p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-12">
                <div>
                    @if (ViewData["HiddenActions"] == null || (bool)ViewData["HiddenActions"] == false)
                    {
                        <div style="float: right">
                            <a href="#" id="comment"  data-toggle="tooltip" data-placement="top" title="Comentar"><span style="padding-right: 5px" class="icon-default icon-comments"></span></a>

                            <a  data-toggle="tooltip" data-placement="top" title="Reportar" data-bind="visible: !Event().IsReportedByCurrentUser()" class="reportEvent" rel="@Model.Id" href="#"><i style="padding-right: 5px" class="icon-default icon-ban-circle"></i></a>
                            <a data-bind="visible: Event().AdministratorIsCurrentUser && !Event().AlreadyTookPlace, click: Event().InviteUsers"  data-toggle="tooltip" data-placement="top" title="Invitar"><span style="padding-right: 5px; cursor: pointer;" class="icon-default icon-user"></span></a>
                            <a data-bind="visible: Event().AdministratorIsCurrentUser, click: Event().UploadPictures"  data-toggle="tooltip" data-placement="top" title="Subir fotos y Videos"><span style="padding-right: 5px; cursor: pointer;" class="icon-default icon-picture"></span></a>

                            <div data-bind="visible: Event().IsReportedByCurrentUser()" class="report-event-message">
                                <strong>Has Reportado este Evento</strong>
                            </div>
                        </div>
                        <div style="padding-top: 7px; display: inline;">
                            @Html.SharedTwitter(Model.Title, Model.Id.Value.ToString(), urlImage)
                            <a href="#" onclick="fbShare('@urlEvent.ToString()', '@Model.Title', '@Model.Description', '@urlImage')">
                                <img class="shared-social" src="/Content/themes/images/facebook.jpeg" /></a>
                            <div id="fb-root"></div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
