@model List<PubliEventos.Contract.Class.Event>

@foreach (var Event in Model)
{
    <div class="col-md-3" style="height: 410px; margin-bottom: 35px;">
        <div class="col-md-12 event-mosaic">
            <div class="image-container">
                <a href="/Event/Detail/@Event.Id" style="cursor: pointer">
                    <img class="image-mosaic-event img-circle" src="/Content/images/Covers/@Event.FileName" data-src="holder.js/120x120/auto">
                </a>
            </div>
            <div>
                <a href="/Event/Detail/@Event.Id" style="cursor: pointer; text-decoration: none;">
                    <h4 class="event-title" style="cursor: pointer">@Event.Title</h4>
                </a>
                <div class="">
                    <div>
                        <p class="font-text event-date" data-toggle="tooltip" data-placement="top" title="Fecha de realización">
                            <i class="icon-calendar">&nbsp</i><small class="text-muted">@Event.EventDate.ToShortDateString()</small>
                        </p>
                    </div>
                    <div>
                        <p class="font-text event-date" data-toggle="tooltip" data-placement="top" title="Hora de realización">
                            <i class="icon-time">&nbsp</i><small class="text-muted">@Event.EventStartTime.ToString(@"hh\:mm") a @Event.EventEndTime.ToString(@"hh\:mm") Hs</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="margin-bottom-normal margin-top-normal">
                <p class="font-text">@Event.Description</p>
            </div>
            <div class="margin-bottom-normal margin-top-normal" style="padding-bottom: 30px">
                @if (ViewData["ViewActions"] == null || (bool)ViewData["ViewActions"] == true)
                {
                    <div class="my-events-actions">
                        <a class="deleteEvent"  data-toggle="tooltip" data-placement="top" title="Eliminar Evento" rel="@Event.Id" href="#"><i class="icon-default icon-remove"></i></a>
                        <a  data-toggle="tooltip" data-placement="top" title="Editar Evento" href="/Event/Edit/@Event.Id"><i class="icon-default icon-pencil"></i></a>
                        <a  data-toggle="tooltip" data-placement="top" title="Subir Contenidos" href="/Event/UploadPictures/@Event.Id"><i class="icon-default icon-picture"></i></a>
                        @if (!Event.AlreadyTookPlace)
                        {
                            <a  data-toggle="tooltip" data-placement="top" title="Invitar" href="/Invitation/InviteToEvent/@Event.Id"><i class="icon-default icon-user"></i></a>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
}