@model PubliEventos.Contract.Class.Event

<li style="margin-bottom: 40px;">
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="tl-circ">
                <img src="/Content/images/Covers/@Model.FileName" alt="" class="img-circle img-cover" data-src="holder.js/120x120/auto">
            </div>
            <div class="timeline-panel" style="margin-top: 1%;">
                <div class="tl-heading">
                    <h4 class="font-text">@Model.Title</h4>
                    <br />
                    <p class="font-text" style="display: inline; padding-right: 5px;">
                        <small class="text-muted"><i class="glyphicon glyphicon-calendar" title="Fecha de realización"></i> @Model.EventDate.ToShortDateString()</small>
                    </p>
                    <p class="font-text" style="display: inline">
                        <small class="text-muted"><i class="glyphicon glyphicon-time" title="Hora de realización"></i> @Model.EventStartTime.ToString(@"hh\:mm") a @Model.EventEndTime.ToString(@"hh\:mm") Hs.</small>
                    </p>
                </div><br/>
                <div class="tl-body subtitle">
                    <p class="font-text">@Model.Description</p>
                </div>
                <div class="col-md-12" style="margin-top: 15px; margin-bottom: -18px;">
                    <a href="/Event/Detail/@Model.Id" title="Ir al detalle"><i class="icon-default glyphicon glyphicon-search"></i></a>
                </div>
            </div>
        </div>
    </div>
</li>
