@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}

@using PubliEventos.Contract.Class

@System.Web.Optimization.Scripts.Render("~/bundles/Select2")
@System.Web.Optimization.Scripts.Render("/ViewScripts/Shared/Social.js")
@System.Web.Optimization.Scripts.Render("/ViewScripts/Home/Index.js")
@System.Web.Optimization.Scripts.Render("/Scripts/moment.js")
@System.Web.Optimization.Scripts.Render("/Scripts/moment-with-locales.js")
@System.Web.Optimization.Scripts.Render("/Scripts/bootstrap-datetimepicker.js")

@System.Web.Optimization.Styles.Render("~/bundles/Select2-css")
@System.Web.Optimization.Styles.Render("~/Content/bootstrap/css/bootstrap-datetimepicker.min.css")

<script type="text/javascript">
    var events = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject((List<Event>)ViewBag.events))
    var url = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(string.Format("{0}://{1}/Event/Detail/{2}", System.Web.HttpContext.Current.Request.Url.Scheme, System.Web.HttpContext.Current.Request.Url.Authority, "#")))
    var urlImage = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(string.Format("{0}://{1}{2}", System.Web.HttpContext.Current.Request.Url.Scheme, System.Web.HttpContext.Current.Request.Url.Authority, System.Configuration.ConfigurationManager.AppSettings["PathCovers"] + '#')))
    var currentUserId = @((User as PubliEventos.Web.App_Start.CustomPrincipal) != null ? (User as PubliEventos.Web.App_Start.CustomPrincipal).Id : 0);
    var hasInvitations =  @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(TempData["HasInvitations"]));
</script>

<div class="row event-band">
    <div class="row" data-bind="foreach:Events">
        <div class="col-xs-12 date-description" data-bind="text: Date, css: {'current-date-description': CurrentDate }"></div>
        <div class="col-xs-12" data-bind="foreach: EventsDetail, css: {'current-date-index': CurrentDate}">
            <div class="col-xs-12" data-bind="css: {'current-date-description': $root.CurrentDate }">
                @Html.Partial("Partial/_EventMosaic")
            </div>
        </div>
    </div>
    <div data-bind="visible: viewModel.Events().length == 0" class="col-xs-12" style="text-align: center">
        <p class="not-found-message">NO HAY EVENTOS DISPONIBLES</p>
    </div>
</div>

