@model PubliEventos.Contract.Class.Event

@{
    ViewBag.Title = "Invitar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@System.Web.Optimization.Scripts.Render("/Scripts/jquery.form.js")
@System.Web.Optimization.Scripts.Render("/Scripts/jquery.blockUI.js")
@System.Web.Optimization.Scripts.Render("/Scripts/jquery.nanoscroller.min.js")
@System.Web.Optimization.Scripts.Render("~/bundles/Select2")
@System.Web.Optimization.Scripts.Render("/ViewScripts/Invitation/InviteToEvent.js")
@System.Web.Optimization.Scripts.Render("/Scripts/bootbox.min.js")

@Styles.Render("~/bundles/Select2-css")
@Styles.Render("~/Content/Extensions/nanoscroller.css")

@using PubliEventos.Contract.Class

<script type="text/javascript">
    var participants = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject((List<User>)ViewBag.participants));
    var standby = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject((List<User>)ViewBag.standby));
</script>

<div class="row-fluid">
    <div class="col-md-10 offset1">
        <div style="margin-bottom: 25px">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="subtitle">Invitar Usuarios</h2>
                </div>
            </div>
            <div class="row">
                @Html.Partial("../Event/Partial/_MosaicDetail", Model, new ViewDataDictionary { { "HiddenActions", true } })
            </div>
        </div>
        <div class="row" style="margin-bottom: 15px">
            <div class="offset1" style="margin-right: -50px">
                <div class="col-md-6">
                    @Html.Partial("Partial/_PendingConfirmation")
                </div>
                <div class="col-md-6">
                    @Html.Partial("Partial/_Participants")
                </div>
            </div>
        </div>
        <form id="SendForm" method="post">
            @Html.AntiForgeryToken()
            @Html.Hidden("eventId", Model.Id)

            <div class="row margin-bottom-normal">
                <div class="col-md-12">
                    <div class="col-md-6">
                        @Html.Label("Invitar Usuarios", new { @class = "label-lobster" })
                        @Html.TextBox("usersIds", null, new { @class = "form-control select2-users" })
                        @Html.ValidationMessage("RequiredUsers", new { @name = "RequiredUsers" })
                    </div>
                    <div class="col-md-6">
                        @Html.Label("Invitar Grupos", new { @class = "label-lobster" })
                        @Html.TextBox("groupsIds", null, new { @class = "form-control select2-groups" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12 region-buttons">
                        <input type="submit" id="Send" class="btn-confirm pull-right" value="Enviar" />
                        <a type="button" href="/Event/Detail/@Model.Id">
                            <input type="button" value="Volver" class="btn-cancel pull-left" /></a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
