@{
    ViewBag.Title = "Mis Invitaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@System.Web.Optimization.Scripts.Render("/Scripts/bootbox.min.js")
@System.Web.Optimization.Scripts.Render("/Scripts/jquery.blockUI.js")
@System.Web.Optimization.Scripts.Render("/ViewScripts/Invitation/MyInvitations.js")

@using PubliEventos.Contract.Class;
@using System.Linq;

<div class="row-fluid">
    <div class="col-md-10 offset1">
        <div style="margin-bottom: 25px" id="create">
            <div class="row-fluid">
                <div class="col-md-12">
                    <h2 class="subtitle">Mis Invitaciones</h2>
                    @if (((List<Invitation>)ViewBag.invitations).Count == 0)
                    {
                        <div class="row-fluid">
                            <div class="col-md-6 offset3">
                                <p style="font-size: 20px; margin-top: 30px;" class="not-found-message">No Tiene Invitaciones Pendientes</p>
                            </div>
                        </div>

                    }

                    @foreach (var invitation in (List<Invitation>)ViewBag.invitations)
                    {
                        var userAdministrator = invitation.Event != null ? invitation.Event.User : invitation.Group.Administrator;
                        var imageProfile = !string.IsNullOrEmpty(userAdministrator.ImageProfile) ? System.Configuration.ConfigurationManager.AppSettings["PathProfiles"] + userAdministrator.ImageProfile : "/Content/images/Profiles/contact-default-image.jpg";
                            
                        <div class="col-md-6 mosaic-invitation" style="margin-bottom: 140px; height: 180px;">
                            <div class="col-md-12 mosaic" style="min-height: 170px; margin-top: 30px;">
                                <div class="row-fluid">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <div class="col-md-12" style="margin-top: 30px">
                                                <div class="col-md-1" style="margin-right: 10px; display: inline; width: 100px;">
                                                    <img src="@imageProfile" title="@userAdministrator.UserName" alt="Perfil del usuario" class="profile-invitation img-circle right" data-src="holder.js/70x70">
                                                </div>
                                                <strong class="invitation-user">@userAdministrator.UserName</strong>
                                            </div>
                                            <div class="col-md-12" style="margin-top: 30px">
                                                @if (invitation.Group != null)
                                                {
                                                    <div style="text-align: center">Te ha invitado a participar de su grupo:</div>
                                                    <br />
                                                    <div style="text-align: center; margin-bottom: 15px;">
                                                        <strong class="invitation-title">@invitation.Group.Name</strong>
                                                    </div>
                                                }

                                                @if (invitation.Event != null)
                                                {
                                                    <div style="text-align: center">Te ha invitado a participar de su evento:</div>
                                                    <br />
                                                    <div style="text-align: center; margin-bottom: 15px;">
                                                        <a href="/Event/Detail/@invitation.Event.Id"><strong style="display: inline" class="invitation-title">@invitation.Event.Title.Substring(0, invitation.Event.Title.Length >= 50 ? 47 : invitation.Event.Title.Length)...</strong></a>
                                                    </div>
                                                }
                                            </div>
                                            <div class="col-md-12 invitation-actions" style="margin-bottom: 15px">
                                                <a href="#" title="Aceptar Invitación" class="replyInvitation confirm" rel="@invitation.Id" style="margin-right: 10px;"><i style="font-size: 20px;" class="icon-default glyphicon glyphicon-ok"></i></a>
                                                <a href="#" title="Cancelar Invitación" class="replyInvitation cancel" rel="@invitation.Id"><i style="font-size: 20px; margin-right: 10px;" class="icon-default glyphicon glyphicon-remove"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

