@model PubliEventos.Contract.Services.Report.SearchReportedContentsResponse

@{
    ViewBag.Title = "Administrar Reportes";
    Layout = "~/Views/Shared/_LayoutPublieventos.cshtml";
}

@System.Web.Optimization.Scripts.Render("/Scripts/moment.js")
@System.Web.Optimization.Scripts.Render("/ViewScripts/Admin/ReportContents.js")
@System.Web.Optimization.Scripts.Render("/Scripts/bootbox.min.js")


<script type="text/javascript">
    var events = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Events))
    var comments = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Comments))
    var pictures =  @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Pictures))
    var movies =  @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Movies))
</script>

<div class="row">
    <h2 class="title-section">CONTENIDOS REPORTADOS</h2>
    <div class="col-md-12">
        <div style="margin-bottom: 25px">
            <div class="row">
                <div class="col-md-12" style="margin-top: 5px">
                    <div class="col-md-12">
                        <ul id="myTabs" class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a id="tabEvents" class="label-description" href="#regionEvents" aria-controls="regionEvents" role="tab" data-toggle="tab">EVENTOS</a></li>
                            <li role="presentation"><a href="#regionComments" class="label-description" aria-controls="regionComments" role="tab" data-toggle="tab">COMENTARIOS</a></li>
                            <li role="presentation"><a href="#regionPictures" class="label-description" aria-controls="regionPictures" role="tab" data-toggle="tab">FOTOS</a></li>
                            <li role="presentation"><a href="#regionMovies" class="label-description" aria-controls="regionMovies" role="tab" data-toggle="tab">VIDEOS</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div id="regionEvents" role="tabpanel" class="tab-pane fade active in">
                    <div class="col-md-12">
                        @Html.Partial("Partial/_ReportedEventDetail")
                    </div>
                </div>
                <div id="regionComments" role="tabpanel" class="tab-pane fade">
                    <div class="col-md-12">
                        @Html.Partial("Partial/_ReportedCommentDetail")
                    </div>
                </div>
                <div id="regionPictures" role="tabpanel" class="tab-pane fade">
                    <div class="col-md-12">
                        @Html.Partial("Partial/_ReportedPicture")
                    </div>
                </div>
                <div id="regionMovies" role="tabpanel" class="tab-pane fade">
                    <div class="col-md-12">
                        @Html.Partial("Partial/_ReportedMovie")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="reasonsModal" data-toggle="modal" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"></span><span class="sr-only">Close</span></button>
                <h4 class="title-modal">MOTIVOS</h4>
            </div>
            <div class="modal-body" style="max-height: 500px; overflow-y: auto;">
                <div data-bind="foreach: Reasons">
                    <p>Reportado el: </p>
                    <strong data-bind="text: EffectDate"></strong><br />
                    <p>Motivo</p><br />
                    <strong data-bind="text: Reason"></strong><br /><br /><br />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-cancel pull-left" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
