@model PubliEventos.Contract.Services.Group.EditGroupRequest

@{
    ViewBag.Title = "Modificar Grupo";
    Layout = "~/Views/Shared/_LayoutPublieventos.cshtml";
}

@System.Web.Optimization.Scripts.Render("~/bundles/Select2")
@System.Web.Optimization.Scripts.Render("/Scripts/jquery.form.js")
@System.Web.Optimization.Scripts.Render("/Scripts/bootbox.min.js")
@System.Web.Optimization.Scripts.Render("/ViewScripts/Group/Base.js")

@Styles.Render("~/bundles/Select2-css")

<div class="row">
    <h2 class="title-section">MODIFICAR GRUPO</h2>
    <div class="col-md-12">
        <div style="margin-bottom: 25px">
            <div class="col-md-12 margin-top-normal">
                <form id="Form" method="post">

                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.GroupId)
                    @Html.HiddenFor(m => m.AdministratorId)
                    @Html.HiddenFor(m => m.UserNames)

                    @Html.Partial("Partial/_Form", Model)

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 region-buttons">
                                <input type="submit" id="Save" class="btn-confirm pull-right" value="Guardar" />
                                <a type="button" href="/Group/MyGroups">
                                    <input type="button" value="Cancelar" class="btn-cancel pull-left" /></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
