@model PubliEventos.Contract.Services.Group.EditGroupRequest

@{
    ViewBag.Title = "Editar Grupo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@System.Web.Optimization.Scripts.Render("/Scripts/jquery.form.js")
@System.Web.Optimization.Scripts.Render("/Scripts/bootbox.min.js")
@System.Web.Optimization.Scripts.Render("/Scripts/jquery.blockUI.js")
@System.Web.Optimization.Scripts.Render("/ViewScripts/Group/Base.js")
@System.Web.Optimization.Scripts.Render("/Scripts/select2.js")
@System.Web.Optimization.Scripts.Render("/Scripts/select2_locale_es.js")

@Styles.Render("~/Content/Select2/select2-bootstrap.css")
@Styles.Render("~/Content/Select2/select2.css")

<div class="row-fluid">
    <div class="col-md-10 offset1">
        <div style="margin-bottom: 25px">
            <div class="row-fluid">
                <div class="col-md-12">
                    <h2 class="subtitle">Editar Grupo</h2>
                </div>
            </div>
            <div class="row-fluid">
                <form id="Form" method="post">

                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.GroupId)
                    @Html.HiddenFor(m => m.AdministratorId)
                    @Html.HiddenFor(m => m.UserNames)

                    @Html.Partial("Partial/_Form", Model)

                    <div class="row-fluid">
                        <div class="col-md-12">
                            <div class="col-md-12 region-buttons">
                                <input type="submit" id="Save" class="btn-confirm pull-right" value="Guardar" />
                                <a type="button" href="/Group/MyGroups">
                                    <input type="button" value="Cancelar" class="btn-cancel pull-left" /></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
