@{
    ViewBag.Title = "Mis Grupos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@System.Web.Optimization.Scripts.Render("/Scripts/bootbox.min.js")
@System.Web.Optimization.Scripts.Render("/Scripts/jquery.blockUI.js")
@System.Web.Optimization.Scripts.Render("/ViewScripts/Group/MyGroups.js")

@using PubliEventos.Contract.Class;
@using PubliEventos.Web.App_Start;

<div class="row-fluid">
    <div class="col-md-10 offset1">
        <div style="margin-bottom: 25px" id="create">
            <div class="row-fluid">
                <div class="col-md-12">
                    <h2 class="subtitle">Mis Grupos</h2>
                    <div class="row-fluid" style="padding-bottom: -5px">
                        <div class="col-md-12">
                            <ul class="subtitle-sections" style="margin-left: -53px">
                                <li><a href="/Group/Create" title="Nuevo Grupo" class="label-lobster">Nuevo Grupo</a></li>
                            </ul>
                        </div>
                    </div>
                    @if (((List<Group>)ViewBag.groups).Count == 0)
                    {
                        <div class="row-fluid">
                            <div class="col-md-6 offset3">
                                <p style="font-size: 20px; margin-top: 30px;" class="not-found-message">No Participa de Ningún Grupo</p>
                            </div>
                        </div>

                    }

                    @foreach (var group in (List<Group>)ViewBag.groups)
                    {
                        <div class="col-md-6" style="margin-bottom: 1%; height: 280px;">
                            <div class="col-md-12 mosaic" style="min-height: 200px; margin-top: 30px;">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="span11 div-group-name">
                                            <strong class="font-text group-name-text">@group.Name</strong>
                                            @if (group.Administrator.Id == (User as CustomPrincipal).Id)
                                            {
                                                <div>
                                                    <h4 class="font-text" style="color: #c25b4e">Soy Administrador</h4>
                                                </div>
                                            }
                                        </div>
                                        <div id="#nav-action" class="span1">
                                            <nav class="verticaltabs-container">
                                                <ul>
                                                    @if (group.Administrator.Id == (User as CustomPrincipal).Id)
                                                    {
                                                        <li class="vertical-list-item"><a style="padding-bottom: 7px" class="deleteGroup" title="Eliminar Grupo" rel="@group.Id" href="#"><i class="icon-default glyphicon glyphicon-remove"></i></a></li>
                                                        <li style="padding-bottom: 7px" class="vertical-list-item"><a title="Editar Grupo" href="/Group/Edit/@group.Id"><i class="icon-default glyphicon glyphicon-pencil"></i></a></li>
                                                    }
                                                    else
                                                    {
                                                        <li class="vertical-list-item"><a title="Dejar Grupo" class="leaveGroup" rel="@group.Id" href="#"><i class="icon-default glyphicon glyphicon-hand-down"></i></a></li>
                                                    }
                                                    <li class="vertical-list-item"><a title="Ver Grupo" href="/Group/Detail/@group.Id"><i class="icon-default glyphicon glyphicon-search"></i></a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
