@{
    ViewBag.Title = "Mis Grupos";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}

@System.Web.Optimization.Scripts.Render("/Scripts/bootbox.min.js")
@System.Web.Optimization.Scripts.Render("/Scripts/jquery.blockUI.js")
@System.Web.Optimization.Scripts.Render("/ViewScripts/Group/MyGroups.js")

@using PubliEventos.Contract.Class;
@using PubliEventos.Web.App_Start;

<div class="row">
    <div style="margin-bottom: 25px" id="create">
        <div class="col-xs-12">
            <h2 class="subtitle">Mis Grupos</h2>
            <div class="row" style="padding-bottom: -5px">
                <div class="col-xs-12">
                    <ul class="subtitle-sections" style="margin-left: -38px">
                        <li><a href="/Group/Create" title="Nuevo Grupo" class="label-lobster">Nuevo Grupo</a></li>
                    </ul>
                </div>
            </div>
            @if (((List<Group>)ViewBag.groups).Count == 0)
            {
                <div class="row">
                    <div class="col-xs-12" style="text-align: center">
                        <p style="font-size: 20px; margin-top: 30px;" class="not-found-message">No Participa de Ningún Grupo</p>
                    </div>
                </div>
            }

            @foreach (var group in (List<Group>)ViewBag.groups)
            {
                <div class="col-xs-12" style="margin-bottom: 1%; height: auto;">
                    <div class="col-xs-12 mosaic" style="margin-top: 30px;">
                        <div class="row">
                            <div class="row">
                                <div class="col-xs-12 div-group-name">
                                    <strong class="font-text group-name-text">@group.Name</strong>
                                    <div style="margin-top: -5px;">
                                        @if (group.Administrator.Id == (User as CustomPrincipal).Id)
                                        {
                                            <a style="padding-bottom: 7px" class="deleteGroup" title="Eliminar Grupo" rel="@group.Id" href="#"><i class="icon-default icon-remove"></i></a>
                                            <a title="Editar Grupo" href="/Group/Edit/@group.Id"><i class="icon-default icon-pencil"></i></a>
                                        }
                                        else
                                        {
                                            <a title="Dejar Grupo" class="leaveGroup" rel="@group.Id" href="#"><i class="icon-default icon-hand-down"></i></a>
                                        }
                                        <a title="Ver Grupo" href="/Group/Detail/@group.Id"><i class="icon-default icon-search"></i></a>

                                        @if (group.Administrator.Id == (User as CustomPrincipal).Id)
                                        {
                                            <h4 class="font-text" style="color: #c25b4e; margin-left: 5px;">Soy Administrador</h4>
                                        }
                                        else
                                        {
                                            <h4></h4>   
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
