@{
    ViewBag.Title = "Mis Grupos";
    Layout = "~/Views/Shared/_LayoutPublieventos.cshtml";
}

@System.Web.Optimization.Scripts.Render("/Scripts/bootbox.min.js")
@System.Web.Optimization.Scripts.Render("/ViewScripts/Group/MyGroups.js")

@using PubliEventos.Contract.Class;
@using PubliEventos.Web.App_Start;

<div class="row">
    <h2 class="title-section">MIS GRUPOS</h2>
    <div class="col-md-12">
        <div style="margin-bottom: 25px" id="create">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12" style="margin-top: 5px">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="nav nav-pills">
                                    <li><a href="/Group/Create" title="Nuevo Grupo" style="color: black" class="label-description section-button eventsSearch">NUEVO GRUPO</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    @if (((List<Group>)ViewBag.groups).Count == 0)
                    {
                        <div class="row">
                            <div class="col-md-12" style="text-align: center">
                                <p style="margin-top: 30px;" class="not-found-message not-found-message-dark">NO PARTICIPA DE NINGÚN GRUPO</p>
                            </div>
                        </div>

                    }

                    @foreach (var group in (List<Group>)ViewBag.groups)
                    {
                        <div class="col-md-4" style="margin-bottom: 50px">
                            <div class="col-md-12 mosaic" style="margin-top: 30px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-8">
                                            @if (group.Administrator.Id == (User as CustomPrincipal).Id)
                                            {
                                                <h4 class="font-text" style="color: #c25b4e">Soy Administrador</h4>
                                            }
                                        </div>
                                        <div id="#nav-action" class="col-md-4 actions-group">
                                            @if (group.Administrator.Id == (User as CustomPrincipal).Id)
                                            {
                                                <a style="padding-bottom: 7px" class="deleteGroup" title="Eliminar Grupo" rel="@group.Id" href="#"><i class="icon-default icon-remove"></i></a>
                                                <a title="Editar Grupo" href="/Group/Edit/@group.Id"><i class="icon-default icon-pencil"></i></a>
                                            }
                                            else
                                            {
                                                <a title="Dejar Grupo" class="leaveGroup" rel="@group.Id" href="#"><i class="icon-default icon-hand-down"></i></a>
                                            }
                                            <a title="Ver Grupo" href="/Group/Detail/@group.Id"><i class="icon-default icon-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-md-12 div-group-name">
                                        <a href="/Group/Detail/@group.Id"><strong class="font-text group-name-text">@group.Name.ToUpper()</strong></a>
                                        <div class="col-md-12" style="margin-top: 10px">
                                            <strong>@(group.UsersGroup.Where(x => x.Active.HasValue && x.Active.Value).Count() + 1) Miembros Activos</strong>
                                        </div>
                                        <div class="col-md-12">
                                            @if (group.UsersGroup.Where(x => !x.Active.HasValue).Count() > 0)
                                            {
                                                <strong>@group.UsersGroup.Where(x => !x.Active.HasValue).Count().ToString() En Espera de Confirmación</strong>
                                            }
                                            else
                                            {
                                                <strong>No Hay Miembros En Espera de Confirmación</strong>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
