@model PubliEventos.Web.Models.AccountModels.UserModel

@using Newtonsoft.Json

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>PubliEventos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/themes/bootstrap3.2/css/bootstrap.min.css")
    @Styles.Render("~/Content/bootstrap-datetimepicker.min.css")
    @Styles.Render("/Content/Site.css")
    <link class="cssdeck" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css">
</head>
<body style="">
    <div class="container-fluid">
        <div class="col-xs-12">
            <div class="row-fluid">
                <div class="col-md-12">
                    <div style="margin-top: 30px">
                        <a class="title" title="PubliEventos" href="../">publieventos</a>
                    </div>
                    <div id="First" class="col-md-4"></div>
                    <div class="col-md-4 login-form" style="margin-top: 7.5%" id="loginModal">
                        <div class="">
                            <div class="well">
                                <ul class="nav nav-tabs">
                                    <li id="tabLogin" class="active"><a class="font-text" href="#login" data-toggle="tab">Ingresar</a></li>
                                    <li id="tabCreate"><a href="#create" class="font-text" data-toggle="tab">Registrarse</a></li>
                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <div class="tab-pane active " id="login">
                                        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.HiddenFor(m => m.IsLogin)
                                            <div class="form-group">
                                                <div class="row-fluid">
                                                    <div class="col-lg-12">
                                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Usuario", @style = "height: 34px" })
                                                    </div>
                                                </div>
                                                <div class="row-fluid">
                                                    <div class="col-lg-12">
                                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Contraseña", @style = "height: 34px" })
                                                        @Html.ValidationMessage("UserNameOrPassword", new { @class = "field-validation-error" })
                                                    </div>
                                                </div>
                                                <div class="row-fluid">
                                                    <div class="col-lg-12">
                                                        @Html.EditorFor(m => m.RememberMe, new { @class = "form-control", @placeholder = "Contraseña" })
                                                        <span class="font-text">Recordarme</span>
                                                    </div>
                                                </div>
                                                <div style="margin-top: 10px">
                                                    <div class="row-fluid">
                                                        <div class="col-lg-12">
                                                            <input type="submit" id="Entry" value="Ingresar" class="btn btn-success font-text" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div class="tab-pane fade" id="create">
                                        @using (Html.BeginForm("SignUp", "Account", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="row-fluid">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <div>
                                                            @Html.TextBoxFor(m => m.SignUpModel.Email, new { @class = "form-control", @placeholder = "Email", @style = "height: 34px" })
                                                            @Html.ValidationMessage("SignUpModel.Email", new { @class = "field-validation-error" })
                                                        </div>
                                                        <div>
                                                            @Html.TextBoxFor(m => m.SignUpModel.UserNameToRegister, new { @class = "form-control", @placeholder = "Usuario", @style = "height: 34px" })
                                                            @Html.ValidationMessage("SignUpModel.UserNameToRegister", new { @class = "field-validation-error" })
                                                        </div>
                                                        <div>
                                                            @Html.PasswordFor(m => m.SignUpModel.PasswordToRegister, new { @class = "form-control", @placeholder = "Contraseña", @style = "height: 34px" })
                                                            @Html.ValidationMessage("SignUpModel.PasswordToRegister", new { @class = "field-validation-error" })
                                                        </div>
                                                        <div>
                                                            @Html.PasswordFor(m => m.SignUpModel.RepeatPassword, new { @class = "form-control", @placeholder = "Repetir Contraseña", @style = "height: 34px" })
                                                            @Html.ValidationMessage("SignUpModel.RepeatPassword", new { @class = "field-validation-error" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <div>
                                                            @Html.DropDownList("SignUpModel.Locality", (SelectList)ViewBag.Localities, "[Seleccione Localidad]", new { @class = "form-control font-text" })
                                                            @Html.ValidationMessage("SignUpModel.Locality", new { @class = "field-validation-error" })
                                                        </div>
                                                        <div class="input-group date">
                                                            @Html.TextBoxFor(m => m.SignUpModel.BirthDate, new { @class = "form-control date font-text", @placeholder = "Fecha de Nacimiento", @style = "height: 34px" })
                                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                        </div>
                                                        @Html.ValidationMessage("SignUpModel.BirthDate", new { @class = "field-validation-error" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="form-group">
                                                    <div class="col-lg-6">
                                                        <input type="submit" id="Register" value="Registrarse" class="btn btn-primary font-text" />
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Second" class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/moment-with-locales.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/ViewScripts/Account/Login.js" type="text/javascript"></script>
    <script type="text/javascript">
        var data = @Html.Raw(JsonConvert.SerializeObject(this.Model));
    </script>
</body>
</html>
