@model PubliEventos.Web.Models.AccountModels.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>PubliEventos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/bootstrap/css/bootstrap.min.css")
    <link rel="stylesheet" href="~/Content/themes/base/unicorn.login.css" />
</head>
<body style="">
    <div id="container">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div id="loginbox">
                <p>Ingrese usuario y password para continuar.</p>
                <div class="input-group input-sm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i>
                    </span>
                    @Html.TextBoxFor(m => m.UserName, null, new { @class = "form-control", @placeholder = "Usuario" })
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i>
                    </span>
                    @Html.TextBoxFor(m => m.Password, null, new { @class = "form-control", @placeholder = "Contraseña" })
                </div>
                @Html.ValidationMessage("Password", new { @class = "field-validation-error" })
                <div class="form-actions clearfix">
                    <div class="pull-right">
                        <a href="#" class="flip-link to-recover grey">Recuperar contraseña</a>
                    </div>
                    <input type="submit" class="btn btn-block btn-primary btn-default" value="Login">
                </div>
            </div>
        }
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui.custom.min.js"></script>
    <script src="~/Scripts/unicorn.login.js"></script>
</body>
</html>
