@{
    ViewBag.Title = "Recuperar Contraseña";
    Layout = null;
}


@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>Publieventos - Recuperación de contraseña</title>

    @System.Web.Optimization.Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @System.Web.Optimization.Styles.Render("/Content/bootstrap/css/bootstrap.min.css")
    @System.Web.Optimization.Styles.Render("/Content/fonts/css/font-awesome.css")

    @System.Web.Optimization.Scripts.Render("~/bundles/modernizr")
    @System.Web.Optimization.Scripts.Render("/ViewScripts/Shared/Shared.js")
    @System.Web.Optimization.Scripts.Render("/Scripts/jquery.blockUI.js")
    @System.Web.Optimization.Scripts.Render("/Scripts/bootstrap.min.js")
    @System.Web.Optimization.Scripts.Render("~/ViewScripts/Account/RecoverPassword.js")

    @System.Web.Optimization.Scripts.Render("/Scripts/bootbox.min.js")

    <link rel="stylesheet" media="all" href="/Content/Publieventos.css" />
    <link rel="icon" href="/Content/themes/images/favicon.ico">
</head>
<body>
    <div class="header">
        <div class="col-md-12">
            <div class="col-md-4">
                <a href="/Home/Index">
                    <img src="/Content/Publieventos/Images/Logo.png" class="logo" />
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-12 body">
        <div class="recover-password-form" id="verificationCodeForm">
            <div class="col-md-12" style="margin-bottom: 100px">
                @Html.Label("CÓDIGO DE VERIFICACIÓN", new { @class = "label-description" })
                @Html.TextBox("Code", null, new { @class = "form-control", @style = "width: 265px; display: inline; margin-rigth: 15px;" })
                <input type="submit" id="validate" style="display: inline" class="btn-confirm" value="CONTINUAR" />
                <br />
                @Html.ValidationMessage("Code")
                @Html.Hidden("UserId", (int)ViewBag.userId)
            </div>
        </div>
        <div class="recover-password-form" style="display: none" id="recoverForm">
            <div class="margin-bottom-normal">
                <div class="col-md-12 form-group">
                    @Html.Label("NUEVA CONTRASEÑA", new { @class = "label-description" })
                    @Html.Password("NewPassword", null, new { @class = "form-control" })
                    @Html.ValidationMessage("NewPassword")
                </div>
            </div>
            <div class="row margin-bottom-normal">
                <div class="col-md-12 form-group">
                    @Html.Label("REPETIR CONTRASEÑA", new { @class = "label-description" })
                    @Html.Password("RepeatPassword", null, new { @class = "form-control" })
                    @Html.ValidationMessage("RepeatPassword")
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <input type="submit" id="savePassword" class="btn-confirm pull-right" value="GUARDAR" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer col-md-12">
        <div class="col-md-3">
            <img src="/Content/Publieventos/Images/Logo.png" class="logo" />
        </div>
    </div>
</body>
</html>
