@model PubliEventos.Contract.Services.ServicesEvents.EventCreateOrUpdateRequest

@{
    ViewBag.Title = "Alta Evento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@System.Web.Optimization.Scripts.Render("/Scripts/jquery.form.js")
@System.Web.Optimization.Scripts.Render("/Scripts/moment.js")
@System.Web.Optimization.Scripts.Render("/Scripts/moment-with-locales.js")
@System.Web.Optimization.Scripts.Render("/Scripts/bootstrap-datetimepicker.js")
@System.Web.Optimization.Scripts.Render("/Scripts/jquery.blockUI.js")
@System.Web.Optimization.Scripts.Render("~/ViewScripts/Event/Create.js")

@Styles.Render("~/Content/bootstrap/css/bootstrap-datetimepicker.min.css")
@Styles.Render("~/Content/bootstrap/css/bootstrap-theme.min.css")
@Styles.Render("~/Content/bootstrap/css/bootstrap.min.css")

<div class="row-fluid">
    <div class="col-md-10 offset1">
        <div style="margin-bottom: 25px" id="create">
            <div class="row-fluid">
                <div class="col-md-12">
                    <h2 class="subtitle">Alta Evento</h2>
                </div>
            </div>
            <form id="CreateForm" method="post" enctype="multipart/form-data">

                @Html.AntiForgeryToken()
                @Html.Partial("Partial/_Form")

                <div class="row-fluid margin-bottom-normal">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label class="label-lobster">Foto de Portada</label>
                            <input type="file" id="CoverPhoto" name="CoverPhoto" class="custom-file-input btn-file" />
                            <small>Extensiones permitidas (jpg, jpeg, gif y png)</small>
                            @Html.ValidationMessage("ErrorCoverPhoto", new { @class = "field-validation-error", @name = "ErrorCoverPhoto" })
                        </div>
                        <div class="col-md-6">
                            @Html.Label("Tipo de evento", new { @class = "label-lobster" })
                            @Html.DropDownListFor(m => m.EventTypeId, (SelectList)ViewBag.EventTypes, "[Seleccione Tipo Evento]", new { @class = "form-control font-text" })
                            @Html.ValidationMessageFor(m => m.EventTypeId)
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(m => m.Latitude)
                @Html.HiddenFor(m => m.Longitude)
                <div class="row-fluid margin-bottom-normal">
                    <div class="col-md-12">
                        <label class="label-lobster">Localización</label>
                        @Html.Partial("Partial/_Localization")
                        @Html.ValidationMessage("Localization", new { @name = "Localization" })
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col-md-12">
                        <div class="col-md-12 region-buttons">
                            <input type="submit" id="Save" class="btn-confirm pull-right" value="Guardar" />
                            <a type="button" href="/Event/MyEvents?currentEvents=true">
                                <input type="button" value="Cancelar" class="btn-cancel pull-left" /></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
