@model PubliEventos.Contract.Services.Event.EventCreateOrUpdateRequest

@{
    ViewBag.Title = "Nuevo Evento";
    Layout = "~/Views/Shared/_LayoutPublieventos.cshtml";
}

@System.Web.Optimization.Scripts.Render("/Scripts/jquery.form.js")
@System.Web.Optimization.Scripts.Render("/Scripts/moment.js")
@System.Web.Optimization.Scripts.Render("/Scripts/moment-with-locales.js")
@System.Web.Optimization.Scripts.Render("/Scripts/bootstrap-datetimepicker.js")
@System.Web.Optimization.Scripts.Render("~/ViewScripts/Event/Create.js")

@Styles.Render("~/Content/bootstrap/css/bootstrap-datetimepicker.min.css")
@Styles.Render("~/Content/bootstrap/css/bootstrap-theme.min.css")
@Styles.Render("~/Content/bootstrap/css/bootstrap.min.css")


<div class="row">
    <h2 class="title-section">PUBLICAR EVENTO</h2>
    <div class="col-md-12">
        <div style="margin-bottom: 25px" id="create">
            <form id="CreateForm" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                
                <div class="col-md-12">
                    @Html.Partial("Partial/_Form")
                </div>
                <div class="margin-bottom-normal">
                    <div class="col-md-12">
                        <div class="col-md-6 margin-bottom-normal">
                            <label class="label-description">FOTO DE PORTADA</label>
                            <div class="browse-wrap">
                                <div class="title-file">Ningún archivo seleccionado</div>
                                <input type="file" id="CoverPhoto" name="CoverPhoto" class="upload" title="Seleccione un archivo">
                            </div>
                            <small>Extensiones permitidas (jpg, jpeg, gif y png)</small>
                            @Html.ValidationMessage("ErrorCoverPhoto", new { @class = "field-validation-error", @name = "ErrorCoverPhoto" })
                        </div>
                        <div class="col-md-6 margin-bottom-normal">
                            @Html.Label("TIPO DE EVENTO", new { @class = "label-description" })
                            @Html.DropDownListFor(m => m.EventTypeId, (SelectList)ViewBag.EventTypes, "[Seleccione Tipo Evento]", new { @class = "form-control font-text" })
                            @Html.ValidationMessageFor(m => m.EventTypeId)
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(m => m.Latitude)
                @Html.HiddenFor(m => m.Longitude)
                <div class="col-md-12">
                    <div class="col-md-12 margin-bottom-normal">
                        <label class="label-description">LUGAR</label>
                        @Html.Partial("Partial/_Localization")
                        @Html.ValidationMessage("Localization", new { @name = "Localization" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12 region-buttons">
                        <input type="submit" id="Save" class="btn-confirm pull-right" value="GUARDAR" />
                        <a type="button" href="/Event/MyEvents?currentEvents=true">
                            <input type="button" value="CANCELAR" class="btn-cancel pull-left" /></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
