@model PubliEventos.Contract.Class.Event

@{
    ViewBag.Title = "Detalle del Evento";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}

@using PubliEventos.Contract.Class;
@using PubliEventos.Web.Models.EventModels;

@System.Web.Optimization.Scripts.Render("/ViewScripts/Event/Detail.js")
@System.Web.Optimization.Scripts.Render("/ViewScripts/Event/MapStyles.js")
@System.Web.Optimization.Styles.Render("/Content/fonts/css/font-awesome.css")
@System.Web.Optimization.Scripts.Render("/Scripts/jquery.signalR-1.0.0.js")
@System.Web.Optimization.Scripts.Render("/Scripts/bootbox.min.js")
@System.Web.Optimization.Scripts.Render("/Scripts/jquery.nanoscroller.min.js")
@System.Web.Optimization.Scripts.Render("/ViewScripts/Shared/Social.js")
@System.Web.Optimization.Scripts.Render("/Scripts/moment.js")
@System.Web.Optimization.Scripts.Render("/Scripts/moment-with-locales.js")

@Styles.Render("~/Content/Extensions/nanoscroller.css")
<script src="~/signalr/hubs"></script>

<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script type="text/javascript">
    var pictures = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject((List<MultimediaContentSummaryModel>)ViewBag.pictures));
    var movies = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject((List<MultimediaContentSummaryModel>)ViewBag.movies));
    var currentUserId = @((User as PubliEventos.Web.App_Start.CustomPrincipal).Id);
    var participants = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject((List<User>)ViewBag.participants));
    var standby = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject((List<User>)ViewBag.standby));
    var eventDetail = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject((Event)Model));
    var attendEventByCurrentUser = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject((bool)ViewBag.AttendEventByCurrentUser));
</script>

<div class="row">
    <h2 class="title-section">DETALLE</h2>
    <div style="margin-bottom: 25px">
        <div class="row">
            <div class="col-xs-12" style="margin-top: 5px">
                <div class="col-xs-12">
                    <ul id="myTabs" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a class="label-description" href="#regionDetail" aria-controls="regionDetail" role="tab" data-toggle="tab">DETALLE</a></li>
                        <li role="presentation"><a id="tabLocalization" href="#regionLocalization" aria-controls="regionLocalization" role="tab" class="label-description" data-toggle="tab">LUGAR</a></li>
                        <li role="presentation"><a href="#regionPictures" aria-controls="regionPictures" role="tab" data-toggle="tab" class="label-description">FOTOS</a></li>
                        <li role="presentation"><a href="#regionMovies" aria-controls="regionMovies" role="tab" data-toggle="tab" class="label-description">VIDEOS</a></li>
                    </ul>
                </div>
            </div>
        </div>
        @Html.Hidden("EventId", Model.Id)
        @Html.Hidden("CommentId")
        <div class="tab-content" style="margin-top: 25px">
            <div id="regionDetail" role="tabpanel" class="tab-pane fade active in">
                @Html.Partial("Partial/_MosaicDetail", Model)
                <div class="col-xs-12" style="margin-top: 50px">
                    @Html.Partial("../Comment/Partial/_CommentBubble")
                    <div class="col-xs-12" id="loading" style="text-align: center">
                        <img src="/Content/themes/images/loading.gif" />
                        Cargando Comentarios...
                    </div>
                </div>
            </div>
            <div id="regionLocalization" role="tabpanel" class="tab-pane fade">
                @Html.HiddenFor(m => m.Latitude)
                @Html.HiddenFor(m => m.Longitude)
                @Html.Hidden("DestinationLatitude")
                @Html.Hidden("DestinationLongitude")
                @Html.Partial("Partial/_LocalizationDetail")
            </div>
            <div id="regionPictures" role="tabpanel" class="tab-pane fade">
                <div class="tab-pane active">
                    @Html.Partial("Partial/_PicturesForm", new ViewDataDictionary { { "UserId", Model.User.Id } })
                </div>
            </div>
            <div id="regionMovies" role="tabpanel" class="tab-pane fade">
                <div class="tab-pane active">
                    @Html.Partial("Partial/_MoviesForm", new ViewDataDictionary { { "UserId", Model.User.Id } })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="commentModal" data-toggle="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"></span><span class="sr-only">Close</span></button>
                <h4 class="title-modal" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <textarea style="max-width: 565px" class="font-text form-control" name="detailComment" rows="4" id="detailComment"></textarea>
                <input type="hidden" value="" id="commentId" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-cancel pull-left" data-dismiss="modal">Cancelar</button>
                <button type="button" data-bind="click: NewAndEditComment" class="btn-confirm">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="reportModal" data-toggle="modal" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"></span><span class="sr-only">Close</span></button>
                <h4 class="title-modal">REPORTAR CONTENIDO</h4>
            </div>
            <div class="modal-body">
                <strong>Motivo</strong>
                <textarea style="max-width: 565px" class="font-text form-control" rows="4" id="reasonReport"></textarea>
                <input type="hidden" value="" id="contentId" />
                <input type="hidden" value="" id="contentType" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-cancel pull-left" data-dismiss="modal">Cancelar</button>
                <button type="button" data-bind="click: ReportContent" class="btn-confirm">Guardar</button>
            </div>
        </div>
    </div>
</div>
