@model PubliEventos.Contract.Class.Event

@{
    ViewBag.Title = "Detalle del Evento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PubliEventos.Contract.Class;

@System.Web.Optimization.Scripts.Render("/ViewScripts/Event/Detail.js")
@System.Web.Optimization.Scripts.Render("/ViewScripts/Event/MapStyles.js")
@System.Web.Optimization.Styles.Render("/Content/EventsDetail.css")
@System.Web.Optimization.Styles.Render("/Content/fonts/css/font-awesome.css")
@System.Web.Optimization.Scripts.Render("/Scripts/jquery.blockUI.js")

<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<div class="row-fluid">
    <div class="col-md-10 offset1">
        <div style="margin-bottom: 25px">
            <div class="row-fluid">
                <div class="col-md-12">
                    <h2 class="subtitle">Detalle del Evento</h2>
                    <div class="row-fluid">
                        <div class="col-md-12">
                            <ul class="list-horizontal subtitle-sections" style="margin-left: -15px">
                                <li><a id="tabDetail" class="label-lobster active-link" href="#" data-toggle="tab">Detalle</a></li>
                                <li><a id="tabLocalization" href="#" class="label-lobster" data-toggle="tab">Localización</a></li>
                                <li><a id="tabContents" href="#" class="label-lobster" data-toggle="tab">Contenidos</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid" style="margin-top: 25px">
                <div class="col-md-12">
                    <div id="regionDetail" class="tab-content">
                        <div class="row-fluid">
                            @Html.Partial("Partial/_MosaicDetail", Model)
                        </div>
                        <div class="row-fluid" style="margin-top: 50px">
                            <div class="col-md-12">
                                @foreach (var comment in (List<Comment>)ViewBag.comments)
                                {
                                    @Html.Partial("../Comment/Partial/_CommentBubble", comment)
                                }
                            </div>
                        </div>
                    </div>
                    <div id="regionLocalization" class="tab-content" style="display: none">
                        <div>
                            @Html.HiddenFor(m => m.Latitude)
                            @Html.HiddenFor(m => m.Longitude)
                            @Html.Hidden("DestinationLatitude")
                            @Html.Hidden("DestinationLongitude")
                            @Html.Partial("Partial/_LocalizationDetail")
                        </div>
                    </div>
                    <div id="regionContents" class="tab-content">
                        <div class="tab-pane active">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

