@model PubliEventos.Contract.Services.Event.EventCreateOrUpdateRequest

@{
    ViewBag.Title = "Editar Evento";
    Layout = "~/Views/Shared/_LayoutPublieventos.cshtml";
}

@using Newtonsoft.Json

@Scripts.Render("/Scripts/moment.js")
@Scripts.Render("/Scripts/moment-with-locales.js")
@Scripts.Render("/Scripts/bootstrap-datetimepicker.js")

@System.Web.Optimization.Scripts.Render("/Scripts/jquery.form.js")
@System.Web.Optimization.Styles.Render("~/Content/bootstrap/css/bootstrap-datetimepicker.min.css")
@System.Web.Optimization.Styles.Render("~/Content/bootstrap/css/bootstrap-theme.min.css")
@System.Web.Optimization.Styles.Render("~/Content/bootstrap/css/bootstrap.min.css")
@System.Web.Optimization.Scripts.Render("~/ViewScripts/Event/Edit.js")
@System.Web.Optimization.Scripts.Render("/Scripts/yui/cropbox.js")

<div class="row">
    <h2 class="title-section">EDITAR EVENTO</h2>
    <div class="col-md-12">
        <div style="margin-bottom: 25px" id="create">

            @using (Html.BeginForm("Edit", "Event", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "EditForm" }))
            {
                @Html.AntiForgeryToken()
                
                <div class="col-md-12">
                    @Html.Partial("Partial/_Form")
                </div>

                @Html.HiddenFor(m => m.FileName)
                @Html.HiddenFor(m => m.UserId)
                @Html.HiddenFor(m => m.Id)

                <div class="margin-bottom-normal">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            @Html.Label("TIPO DE EVENTO", new { @class = "label-description" })
                            @Html.DropDownListFor(m => m.EventTypeId, (SelectList)ViewBag.EventTypes, "[Seleccione Tipo Evento]", new { @class = "form-control font-text" })
                            @Html.ValidationMessageFor(m => m.EventTypeId)
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="col-md-12 margin-bottom-normal margin-top-normal">
                        <div class="col-md-6">
                            <label class="label-description" style="padding-right: 10px">FOTO DE PORTADA ACTUAL</label><br />
                            <a href="#" id="EditPhoto">MODIFICAR FOTO DE PORTADA <i class="icon-upload icon-default" style="color: #2a6496"></i></a>
                            <img src="/Content/images/Covers/@Model.FileName" alt="" class="img-rounded image-event-detail">
                        </div>
                        <div class="col-md-6">
                            <div id="editPhotoRegion" style="display: none">
                                <label class="label-description" style="padding-right: 10px">NUEVA FOTO DE PORTADA</label><br />
                                <div class="cropped" style="margin-top: 37px">
                                </div>
                            </div>
                            @Html.ValidationMessage("ErrorCoverPhoto", new { @class = "field-validation-error", @name = "ErrorCoverPhoto" })
                            @Html.HiddenFor(m => m.CoverPhoto)
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(m => m.Latitude)
                @Html.HiddenFor(m => m.Longitude)
                <div class="col-md-12 margin-bottom-normal">
                    <div class="col-md-12">
                        <label class="label-description">LUGAR</label>
                        @Html.Partial("Partial/_Localization")
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12 region-buttons">
                        <input type="submit" id="Save" class="btn-confirm pull-right" value="Guardar" />
                        <a type="button" href="/Event/MyEvents?currentEvents=true">
                            <input type="button" value="Cancelar" class="btn-cancel pull-left" /></a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    var data = @Html.Raw(JsonConvert.SerializeObject(this.Model));
</script>
