@{
    ViewBag.Title = "Mis Eventos";
    Layout = "~/Views/Shared/_LayoutPublieventos.cshtml";
}

@System.Web.Optimization.Scripts.Render("/ViewScripts/Event/MyEvents.js")
@System.Web.Optimization.Scripts.Render("/Scripts/jquery.blockUI.js")
@System.Web.Optimization.Scripts.Render("/Scripts/bootbox.min.js")
@System.Web.Optimization.Styles.Render("/Content/fonts/css/font-awesome.css")
@System.Web.Optimization.Scripts.Render("/ViewScripts/Event/Partial/_EventsFilter.js")

<div class="row">
    <h2 class="title-section">MIS EVENTOS</h2>
    @Html.Partial("Partial/_EventsFilter")
    <div class="col-md-12 bar-search">
        <div id="searchButton" class="search-title"><i class="icon-caret-down" id="icon-search"></i>&nbspBÚSQUEDAS</div>
    </div>
    <div class="col-md-12">
        <div style="margin-bottom: 25px" id="create">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <ul class="nav nav-pills">
                            <li><a href="/Event/MyEvents?currentEvents=true" id="tabCurrents" title="Eventos a realizarse proximamente" style="color: black" class="label-description eventsSearch">PRÓXIMOS</a></li>
                            <li><a href="/Event/MyEvents?currentEvents=false" id="tabPrevious" title="Eventos que ya se llevaron a cabo" style="color: black" class="label-description eventsSearch">PREVIOS</a></li>
                        </ul>
                    </div>
                    @Html.Hidden("CurrentsEvents", (bool)@ViewBag.currentsEvents)

                    <div id="myEvents" class="col-md-12" style="margin-top: 40px;">
                        @Html.Partial("Partial/_Mosaic", (List<PubliEventos.Contract.Class.Event>)ViewBag.myEvents, new ViewDataDictionary { { "ViewActions", true } })
                    </div>
                    <div id="regionEvents" class="col-md-12" style="margin-top: 40px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
