@{
    ViewBag.Title = "Mis Eventos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@System.Web.Optimization.Scripts.Render("/ViewScripts/Event/MyEvents.js")
@System.Web.Optimization.Scripts.Render("/Scripts/jquery.blockUI.js")
@System.Web.Optimization.Scripts.Render("/Scripts/bootbox.min.js")
@System.Web.Optimization.Styles.Render("/Content/fonts/css/font-awesome.css")

<div class="row-fluid">
    <div class="col-md-10 offset1">
        <div style="margin-bottom: 25px" id="create">
            <div class="row-fluid">
                <div class="col-md-12">
                    <h2 class="subtitle">Mis Eventos</h2>
                    <div class="row-fluid" style="padding-bottom: -5px">
                        <div class="col-md-12">
                            <ul class="subtitle-sections" style="margin-left: -53px">
                                <li><a href="/Event/MyEvents?currentEvents=true" id="tabCurrents" title="Eventos a realizarse proximamente" class="label-lobster eventsSearch active-link">Futuros</a></li>
                                <li><a href="/Event/MyEvents?currentEvents=false" id="tabPrevious" title="Eventos que ya se llevaron a cabo" class="label-lobster eventsSearch">Pasados</a></li>
                                <li>
                                    <a id="filter" href="#" title="Filtros" class="label-lobster">Filtros <span class="caret"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    @Html.Hidden("CurrentsEvents", (bool)@ViewBag.currentsEvents)
                    <div id="filterRegion" class="row-fluid" style="display: none">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-chevron-up" style="margin-left: 136px; color: #B89C83"></span>
                            @Html.Partial("Partial/_EventsFilter")
                        </div>
                    </div>
                    <div id="regionEvents" class="col-md-12" style="margin-top: 20px;">
                        @Html.Partial("Partial/_Mosaic", (List<PubliEventos.Contract.Class.Event>)ViewBag.myEvents)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
